.card-form input {
  width: 100%;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 4%;
  max-width: 92%;
  font-size: 14px;
}

.card-form input:focus {
  outline-width: 0;
}